
      body {
        background-color: #f6f6f8;
        font-family: Poppins;
      }


      /* success */
      .wrapper-success {
        margin: 20px;
      }
      .wrapper-success .alertcard {
        width: auto;
        height: 150px;
        background-color: #fff;
        /*padding: 10px 20px;*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-left: 5px solid #49d761;
        border-radius: 3px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      .wrapper-success .alertcard .subject {
        margin-right: 100px;
      }
      .wrapper-success .alertcard .subject p {
        color: #909092;
      }
      .wrapper-success .alertcard .icon {
        font-size: 28px;
        color: #49d761;
      }
      .wrapper-success .alertcard .icon-times {
        font-size: 28px;
        color: #c3c2c7;
        cursor: pointer;
      }
       /* success */




      /* info
      .wrapper-info {
        margin: 120px;
      }
      .wrapper-info .card {
        width: 720px;
        height: 120px;
        background-color: #fff;
        padding: 10px 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-left: 5px solid #3286e9;
        border-radius: 3px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      .wrapper-info .card .subject {
        margin-right: 180px;
      }
      .wrapper-info .card .subject p {
        color: #909092;
      }
      .wrapper-info .card .icon {
        font-size: 28px;
        color: #3286e9;
      }
      .wrapper-info .card .icon-times {
        font-size: 28px;
        color: #c3c2c7;
        cursor: pointer;
      }
        info */




      /* warning */
      .wrapper-warning {
        margin: 20px;
      }
      .wrapper-warning .alertcard {
        width: auto;
        height: 150px;
        background-color: #fff;
        /*padding: 10px 20px;*/
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-left: 5px solid #fdc220;
        border-radius: 3px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      }
      .wrapper-warning .alertcard .subject {
        margin-right: 100px;
      }
      .wrapper-warning .alertcard .subject p {
        color: #909092;
      }
      .wrapper-warning .alertcard .icon {
        font-size: 28px;
        color: #fdc220;
      }
      .wrapper-warning .alertcard .icon-times {
        font-size: 28px;
        color: #c3c2c7;
        cursor: pointer;
      }
      /* warning */